
.add-header {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .add-header .item + .item {
    margin-left: 30px;
  }
  
  .add-header .link {
    display: flex;
    align-items: center;
  
    color: $primary-text-color;
    fill: currentColor;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: $accent-color;}
  }
  
  
  .icon-style {
    margin-right: 10px;
  }