
.logo {
   
    display: block;
    padding-top: 20px;
    padding-bottom: 23px;

    color: #000000;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }

        .logo-color {
            color: $accent-color;
          }
          
          @include for-size(desktop){
            font-size: 26px;
          }

  }
  
 