.section {
    padding-top: 60px;
    padding-bottom: 60px;

    .section:not(.features){
    @include for-size(desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
  .section.features {

    @include for-size(desktop) {
      padding-bottom: 0;
      padding-top: 94px;
    }
  }
  
  .section-title {
    color: $title-text-color;
  
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  
    margin-top: 0;
    margin-bottom: 30px;

    @include for-size(desktop) {
      font-size: 36px;
      margin-bottom: 50px;
    }

  }
  